<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div id="description">
      <h2>Description</h2>
      <p></p>
      <form method="post">
        <select name=status>
          <option value=open>open</option>
          <option value=in-progress>in progress</option>
          <option value=done>done</option>
        </select>
        <button>Submit</button>
      </form>
    </div>
    <div id="history">
      <h2>History</h2>
      <div id="creation">
        <h3>Created</h3>
      </div>
      <div id="status">
        <h3>Status changes</h3>
        <ol>
          <li>status change 1</li>
        </ol>
      </div>
    </div>
  </body>
</html>
